@mixin color($name, $color) {
  .#{$name} {
    color: $color;
    &:hover { color: $color; }
  }
}

//Background Mixin
@mixin bg-color($name, $color) {
  .bg-#{$name} {
    background: $color;
  }
}

@for $i from 1 through 9 {
  .opacity-#{$i} {
    opacity: #{$i/10};
  }
}

// Primary
$deep-sea: #106ada;
$deeper-sea: #0f7aff;
$light-sea: #3b93ff;
$gem: #3f00ff;

// Greys
$grey: #F5F7F9;
$dark-grey: #151515;
$light-grey: #a5a5a5;
$text: $light-grey;
$black: #4B4D4E;
$border-grey: #DDD;
$mid-grey: #b0b0b0;
$basic-grey: #757575;
$grey-transparent: rgba(245, 247, 249, 0.9);

@include color('grey', $grey);
@include color('gem', $gem);
@include color('mid-grey', $mid-grey);
@include color('basic-grey', $basic-grey);
@include color('border-grey', $border-grey);
@include color('text-color', $text);
@include color('deep-sea', $deep-sea);
@include color('light-sea', $light-sea);
@include color('deeper-sea', $deeper-sea);

@include bg-color('grey', $grey);
@include bg-color('black', $black);
@include bg-color('white', white);
@include bg-color('mid-grey', $mid-grey);
@include bg-color('dark-grey', $dark-grey);
