$background-color: #efefef;
$prompt-color: #444;
$message-color: #868686;
$cursor-color: #333;
$cursor-text-color: #333333;


div.react-console-container {
	font-size: 1.3em;
	max-width: 100%;
	box-sizing: border-box;
	height: 20em;
	background: $dark-grey;
	padding: 0.5em;
	overflow: auto;
	white-space: pre-wrap;      /* CSS3 */
 	white-space: -moz-pre-wrap; /* Firefox */
 	white-space: -pre-wrap;     /* Opera <7 */
	white-space: -o-pre-wrap;   /* Opera 7 */
 	word-wrap: break-word;      /* IE */
}

div.react-console-prompt-box {
	color: $light-sea;
}

span.react-console-prompt-label {
	font-weight: bold;
}

div.react-console-focus span.react-console-cursor {
	background: $cursor-color;
	color: $cursor-text-color;
}

div.react-console-nofocus span.react-console-cursor {
	background: none;
	color: $prompt-color;
	outline: 0.1em solid $cursor-color;
	outline-offset: -0.1em;
}

div.react-console-focus span.react-console-cursor-idle {
	animation: react-console-cursor-animation 1s infinite;
}

.react-console-typer {
	// position: absolute;
	right: 0px;
	height: 0px;
	width: 0px;
}

@keyframes react-console-cursor-animation {
	0% {
		background: $cursor-color;
		color: $cursor-text-color;
	}
	50% {
		background: $cursor-color;
		color: $cursor-text-color;
	}
	51% {
		background: none;
		color: $prompt-color;
	}
	100% {
		background: none;
		color: $prompt-color;
	}
}

div.react-console-message {
	color: $deep-sea;
	padding: 0.1em;
}

div.react-console-message-result {
	color: $deeper-sea;
	padding: 0.1em;
}
