.visible-xs {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }
}

.outline-none {
  outline-style: none;
}

.hidden {
  display: none;
}

.hidden-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}
